body {
  background: #ffe259;
  background: linear-gradient(to right, #ffa751, #ffe259);
}

.bg {
  background-image: url(./assets/img/headers.jpg);
  background-size: cover;
  background-position: center center;
  size: 50px;
}
